.main-page {
    -fx-background-color: #ceb4f1;
}

.user-mode {
    -fx-background-color: lightblue;
}

.librarian-mode {
    -fx-background-color: lightgreen;
}

.borrow-book {
    -fx-background-color: lightgoldenrodyellow;
}
